@media (max-width: 767px) {
    .center {
        padding-left: calc(50% - 300px);
        padding-right: calc(50% - 300px);  
    }
    .title {
        background-image: url(img/main_mob.jpg);
        height: 735px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__heading {
            font-size: 32px;
            line-height: 39px;
            text-align: center;
            padding-top: 238px;
        }

        &__text {
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            margin-bottom: 32px;
        }
    }
    .item-box {
        justify-content: center;
    }
    .item {
        width: 343px;
        padding-left: 14px;
        padding-right: 14px;
    }
}