@media (max-width: 767px) {
    .center {
        padding-left: calc(50% - 171px);
        padding-right: calc(50% - 171px);
    }

    .title {
        background-image: url(img/main_mob.jpg);
        height: 735px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__heading {
            font-size: 32px;
            line-height: 39px;
            text-align: center;
            padding-top: 238px;
        }

        &__text {
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            margin-bottom: 32px;
            width: auto;
        }
    }

    .item-box {
        justify-content: center;
    }

    .item {
        width: 343px;
        padding-left: 14px;
        padding-right: 14px;
    }

    .game {
        &_1 {
            padding-top: 51px;
            padding-bottom: 85px;
        }

        &_2 {
            padding-top: 51px;
            padding-bottom: 90px;
            display: flex;
            flex-direction: column-reverse;
        }

        &__info {
            align-items: center;
        }

        &__heading {
            font-size: 32px;
            line-height: 39px;
            text-align: center;

        }

        &__text {
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            width: auto;
        }

        &__button {
            margin-bottom: 64px;
        }

    }

    svg {
        width: 344px;
        height: 236px;
    }
}