* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 601px);
  padding-right: calc(50% - 601px);
}

.title {
  background-image: url(img/Main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1024px;
}
.title__heading {
  font-style: normal;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 64px;
  line-height: 78px;
  padding-top: 217px;
  margin-bottom: 32px;
}
.title__text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 44px;
  width: 481px;
}
.title__text_bold {
  font-weight: 600;
}
.title__button {
  width: 234px;
  height: 49px;
  background: #9C0332;
  border-radius: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-left: 74px;
  padding-right: 74px;
  color: #FFFFFF;
  border: none;
  font-family: "Montserrat", sans-serif;
}

.item-box {
  padding-top: 128px;
  padding-bottom: 128px;
  background-color: #000915;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.item {
  width: 379px;
  height: 300px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(0023.jpg);
  border-radius: 16px;
  display: flex;
  padding: 32px;
  align-items: flex-end;
}
.item:hover {
  border: 3px solid #44D2FF;
  border-radius: 16px;
}
.item__link {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}
.item_1 {
  background-image: url(img/Game1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.item_2 {
  background-image: url(img/Game2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.item_3 {
  background-image: url(img/Game3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.game {
  background-color: #000915;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.game_1 {
  padding-top: 234px;
  padding-bottom: 234px;
}
.game_2 {
  padding-top: 239px;
  padding-bottom: 239px;
}
.game_3 {
  padding-top: 276px;
  padding-bottom: 288px;
  background-image: url(img/unsplash_iO0I6-mhDEY.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.game__info {
  display: flex;
  flex-direction: column;
}
.game__info_3 {
  align-items: center;
}
.game__heading {
  font-style: normal;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 48px;
  line-height: 59px;
}
.game__text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  margin-top: 32px;
  margin-bottom: 32px;
}
.game__text_1 {
  width: 584px;
}
.game__text_2 {
  width: 588px;
}
.game__text_3 {
  text-align: center;
}
.game__button {
  width: 234px;
  height: 49px;
  background: #9C0332;
  border-radius: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-left: 74px;
  padding-right: 74px;
  color: #FFFFFF;
  border: none;
  font-family: "Montserrat", sans-serif;
}
.game__button:hover {
  background: #EB443F;
}

.footer {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #000915;
  display: flex;
  justify-content: center;
}
.footer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 171px);
    padding-right: calc(50% - 171px);
  }
  .title {
    background-image: url(img/main_mob.jpg);
    height: 735px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title__heading {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    padding-top: 238px;
  }
  .title__text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 32px;
    width: auto;
  }
  .item-box {
    justify-content: center;
  }
  .item {
    width: 343px;
    padding-left: 14px;
    padding-right: 14px;
  }
  .game_1 {
    padding-top: 51px;
    padding-bottom: 85px;
  }
  .game_2 {
    padding-top: 51px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column-reverse;
  }
  .game_3 {
    padding-top: 51px;
    padding-bottom: 487px;
  }
  .game__info {
    align-items: center;
  }
  .game__heading {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .game__text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    width: auto;
  }
  .game__button {
    margin-bottom: 64px;
  }
  svg {
    width: 344px;
    height: 236px;
  }
}/*# sourceMappingURL=style.css.map */